html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
  font-family: 'Hiragino Kaku Gothic ProN', meiryo, sans-serif;
}

body {
  font-size: 62.5%;
}

a {
  color: inherit;
  text-decoration: none;
}

*, *::before, *::after {
  box-sizing: border-box;
}

ol, ul {
  list-style: none;
  list-style-position: inside;
}
